Expense categorization.json
{
  "name": "Expense categorization",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "111765cf-cc89-4b22-b5f1-8d3dee67739e",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json[\"Expense Category\"] }}",
              "rightValue": "=Personal"
            }
          ]
        },
        "options": {}
      },
      "id": "de18266b-8209-4c08-82f9-a2acc259cdc7",
      "name": "personal",
      "type": "n8n-nodes-base.if",
      "position": [
        -352,
        224
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8e0cf8f8-568c-4528-8678-db1617658038",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json[\"Expense Category\"] }}",
              "rightValue": "Business"
            }
          ]
        },
        "options": {}
      },
      "id": "14bd0e52-3c51-4328-92e5-eadb743f760a",
      "name": "business",
      "type": "n8n-nodes-base.if",
      "position": [
        -336,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a065d01d-eb83-484b-86bd-f300e1897f77",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json[\"Expense Category\"] }}",
              "rightValue": "Shared / Home"
            }
          ]
        },
        "options": {}
      },
      "id": "19d4b6c3-b14e-4ef3-9ef8-111cb3add9ef",
      "name": "shared",
      "type": "n8n-nodes-base.if",
      "position": [
        -336,
        800
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "formTitle": "Expense Capture",
        "formDescription": "Fill the form which you spend on a day",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Expense Description"
            },
            {
              "fieldLabel": "Expense Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Personal"
                  },
                  {
                    "option": "Business"
                  },
                  {
                    "option": "Shared / Home"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Billing Period",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Current"
                  },
                  {
                    "option": "Retrospective"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Vendor Location",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pakistan"
                  },
                  {
                    "option": "USA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Receipt",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Invoice"
            },
            {
              "fieldLabel": "Retro Expense Billing Period"
            },
            {
              "fieldLabel": "For biling period",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "66ed1573-d5ca-4b91-9182-a5d32b771c95",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -848,
        480
      ],
      "webhookId": "b95726d6-f4fa-468c-8708-bfcb27f7bb9f",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Receipt",
        "options": {}
      },
      "id": "41256e24-17b4-4228-9d7d-3b080066b789",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -32,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "18071a03-1110-4421-8ad2-73a6dff8b23f",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        320,
        1264
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "IdmXgmOBmWfXDYdp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"total_amount\": 149.99,\n  \"currency\": \"ILS\",\n  \"billing_entity_name\": \"Example Company Ltd.\",\n  \"billing_entity_address\": \"City, Country\",\n  \"billing_entity_vat_id\": \"123456789\",\n  \"document_type\": \"invoice\",\n  \"document_number\": \"INV-2025-00123\",\n  \"document_date\": \"2025-07-31\",\n  \"due_date\": \"2025-08-15\",\n  \"payment_method\": \"credit_card\",\n  \"payment_method_last4\": \"1234\",\n  \"paid_with_paypal\": false,\n  \"line_items\": [\n    {\n      \"description\": \"API credits for document parsing\",\n      \"amount\": 149.99\n    }\n  ],\n  \"main_expenditure_description\": \"API credits for services\",\n  \"type\": \"business\",\n  \"business_category\": \"Cloud Services\",\n  \"personal_category\": null,\n  \"made_out_to_user\": false,\n  \"made_out_to_company\": true,\n  \"is_billing_entity_in_israel\": true,\n  \"billing_entity_country_code\": \"IL\"\n}\n"
      },
      "id": "7925526e-16ed-42ff-9234-d66796d60c01",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        464,
        1280
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "inputDataFieldName": "Receipt",
        "name": "={{ $json.Receipt[0].filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1uohzhe0ZKKwN_tNW4JRSol0gtM5qsmMG?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "id": "f0a0e0d7-1761-49b6-a707-4dfedf234321",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        272,
        208
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8xyW3b8PV3lbyGTe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Receipt",
        "name": "={{ $json.Receipt[0].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_BUSINESS_DRIVE_ID",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_BUSINESS_DRIVE_ID",
          "cachedResultName": "Business Drive - Shared"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.matched_month_folder_id }}"
        },
        "options": {}
      },
      "id": "9383f543-3354-4afd-be32-858d9d596dde",
      "name": "Upload file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        288,
        464
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8xyW3b8PV3lbyGTe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Full CSV string including 2024–2026\nconst folderCSV = `\nyear,year_folder_id,month_number,month_name,month_folder_id\n2024,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n`.trim();\n\n// Parse CSV into folder map\nconst folderMap = folderCSV\n  .split('\\n')\n  .slice(1)\n  .map(line => {\n    const [year, year_folder_id, month_number, month_name, month_folder_id] = line.split(',');\n    return { year, year_folder_id, month_number, month_name, month_folder_id };\n  });\n\nreturn items.map(item => {\n  const submittedAt = new Date(item.json.submittedAt);\n  const year = String(submittedAt.getUTCFullYear());\n  const month = String(submittedAt.getUTCMonth() + 1).padStart(2, '0');\n\n  const match = folderMap.find(entry => entry.year === year && entry.month_number === month);\n\n  if (!match) {\n    throw new Error(`No folder match found for year ${year}, month ${month}`);\n  }\n\n  return {\n    json: {\n      ...item.json,\n      matched_year: year,\n      matched_month: month,\n      matched_month_folder_id: match.month_folder_id,\n      matched_year_folder_id: match.year_folder_id\n    },\n    binary: item.binary || {}\n  };\n});\n"
      },
      "id": "0e777ea2-d9fb-418f-ab7c-7b4cd01c2185",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const folderCSV = `\nyear,year_folder_id,month_number,month_name,month_folder_id\n2024,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n`.trim();\n\nconst folderMap = folderCSV\n  .split(\"\\n\")\n  .slice(1)\n  .map(line => {\n    const [year, year_folder_id, month_number, month_name, month_folder_id] = line.split(\",\");\n    return { year, year_folder_id, month_number, month_name, month_folder_id };\n  });\n\nreturn items.map(item => {\n  const submittedAt = new Date(item.json.submittedAt);\n  const year = String(submittedAt.getUTCFullYear());\n  const month = String(submittedAt.getUTCMonth() + 1).padStart(2, \"0\");\n\n  const match = folderMap.find(entry => entry.year === year && entry.month_number === month);\n\n  if (!match) {\n    throw new Error(`No folder match found for year ${year}, month ${month}`);\n  }\n\n  return {\n    json: {\n      ...item.json,\n      personal_drive_match: {\n        matched_year: year,\n        matched_month: month,\n        matched_year_folder_id: match.year_folder_id,\n        matched_month_folder_id: match.month_folder_id\n      }\n    },\n    binary: item.binary || {}\n  };\n});\n"
      },
      "id": "9caa501e-c138-4ec1-827d-dd442d8c261c",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const sharedFolderCSV = `\nyear,year_folder_id,month_number,month_name,month_folder_id\n2024,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2024,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2025,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,01,January,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,02,February,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,03,March,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,04,April,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,05,May,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,06,June,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,07,July,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,08,August,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,09,September,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,10,October,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,11,November,FOLDER_ID_PLACEHOLDER\n2026,FOLDER_ID_PLACEHOLDER,12,December,FOLDER_ID_PLACEHOLDER\n`.trim();\n\nconst folderMap = sharedFolderCSV\n  .split(\"\\n\")\n  .slice(1)\n  .map(line => {\n    const [year, year_folder_id, month_number, month_name, month_folder_id] = line.split(\",\");\n    return { year, year_folder_id, month_number, month_name, month_folder_id };\n  });\n\nreturn items.map(item => {\n  const submittedAt = new Date(item.json.submittedAt);\n  const year = String(submittedAt.getUTCFullYear());\n  const month = String(submittedAt.getUTCMonth() + 1).padStart(2, \"0\");\n\n  const match = folderMap.find(entry => entry.year === year && entry.month_number === month);\n\n  if (!match) {\n    throw new Error(`No shared folder match found for year ${year}, month ${month}`);\n  }\n\n  return {\n    json: {\n      ...item.json,\n      shared_drive_match: {\n        matched_year: year,\n        matched_month: month,\n        matched_year_folder_id: match.year_folder_id,\n        matched_month_folder_id: match.month_folder_id\n      }\n    },\n    binary: item.binary || {}\n  };\n});\n"
      },
      "id": "6915baa5-be48-4506-a5ba-a9838d3118db",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "inputDataFieldName": "Receipt",
        "name": "={{ $json.Receipt[0].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHARED_DRIVE_ID",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_SHARED_DRIVE_ID",
          "cachedResultName": "Shared Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.shared_drive_match.matched_year_folder_id }}"
        },
        "options": {}
      },
      "id": "fccda5f8-c5a5-4abf-a681-863231d349c8",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        288,
        784
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8xyW3b8PV3lbyGTe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "3d5f63bd-510e-4829-98a0-b728b33cba00",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        560,
        768
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "sendTo": "zakeenkhann@gmail.com",
        "subject": "=New expense captured:  {{ $json.output.items[0].description }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    body {\n      background-color: #f4f4f4;\n      font-family: Arial, sans-serif;\n      padding: 20px;\n      color: #333;\n    }\n    .container {\n      background-color: #ffffff;\n      border: 1px solid #dddddd;\n      max-width: 600px;\n      margin: auto;\n      padding: 20px;\n    }\n    h2 {\n      color: #2c3e50;\n      margin-top: 0;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 16px;\n    }\n    th, td {\n      padding: 8px;\n      border-bottom: 1px solid #eeeeee;\n      text-align: left;\n      vertical-align: top;\n    }\n    .footer {\n      margin-top: 24px;\n      font-size: 12px;\n      color: #888;\n    }\n    .drive-link {\n      display: inline-block;\n      margin-top: 20px;\n      padding: 10px 18px;\n      background-color: #ffffff;\n      color: #1a73e8;\n      border: 2px solid #1a73e8;\n      text-decoration: none;\n      border-radius: 4px;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>📌 New Household Expense Recorded</h2>\n    <p>Dear Users,</p>\n    <p>A new <strong>{{ $json.output.transaction_type }}</strong> household expense has been recorded. The details are as follows:</p>\n\n    <table>\n      <tr>\n        <th>Receipt Number</th>\n        <td>{{ $json.output.receipt_number }}</td>\n      </tr>\n      <tr>\n        <th>Date</th>\n        <td>{{ $json.output.transaction_date }}</td>\n      </tr>\n      <tr>\n        <th>Category</th>\n        <td>{{ $json.output.personal_category }}</td>\n      </tr>\n      <tr>\n        <th>Vendor</th>\n        <td>{{ $json.output.vendor_name }}</td>\n      </tr>\n      <tr>\n        <th>Vendor Address</th>\n        <td>{{ $json.output.vendor_address }}</td>\n      </tr>\n      <tr>\n        <th>Vendor Phone</th>\n        <td>{{ $json.output.vendor_phone_number }}</td>\n      </tr>\n      <tr>\n        <th>Payment Method</th>\n        <td>{{ $json.output.payment_method }}</td>\n      </tr>\n      <tr>\n        <th>Item(s)</th>\n        <td>\n          {{ $json.output.items[0].quantity }} × {{ $json.output.items[0].description }} @ {{ $json.output.items[0].unit_price }} {{ $json.output.currency }}\n        </td>\n      </tr>\n      <tr>\n        <th>Tax</th>\n        <td>{{ $json.output.tax_amount }} {{ $json.output.currency }}</td>\n      </tr>\n      <tr>\n        <th>Total Amount</th>\n        <td><strong>{{ $json.output.total_amount }} {{ $json.output.currency }}</strong></td>\n      </tr>\n      <tr>\n        <th>Expense Owner</th>\n        <td>{{ $json.output.expense_owner }}</td>\n      </tr>\n      <tr>\n        <th>Owner Address</th>\n        <td>{{ $json.output.expense_owner_address }}</td>\n      </tr>\n    </table>\n\n    <a class=\"drive-link\" href=\"{{ $json.webViewLink }}\" target=\"_blank\">\n      📎 View Receipt in Google Drive\n    </a>\n\n    <div class=\"footer\">\n      This email was generated automatically by your household expense tracking system.\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "senderName": "Apps",
          "replyToSenderOnly": false
        }
      },
      "id": "6bc5041d-d667-4d21-b66f-8e548dbcd9f6",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        800,
        768
      ],
      "webhookId": "dab159b8-da4a-4b8d-9b13-d79129415d52",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "d15u6YZ0U9MjgoqB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "# Personal",
        "height": 80,
        "width": 208
      },
      "id": "b7fd68fb-22bb-4227-bdfe-eeced64151c4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Business",
        "height": 80,
        "width": 208
      },
      "id": "c2c22de1-7a6d-447f-b59d-828a010dda11",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Shared",
        "height": 80,
        "width": 208
      },
      "id": "2da8e863-4b9f-478c-9126-6224fec1a63b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5e5d048a-2c50-489b-a0f2-d3dd093746b6",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json[\"Expense Category\"] }}",
              "rightValue": "Shared / Home"
            }
          ]
        },
        "options": {}
      },
      "id": "a9d8f8b3-486c-45e1-a8fb-fceb19862b7b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -336,
        1056
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "zakeenkhann@gmail.com",
        "subject": "Expense",
        "message": "This is an expense for processing",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "Receipt"
              }
            ]
          }
        }
      },
      "id": "36da6803-967c-403f-a65c-ee78a58506bb",
      "name": "Inform me",
      "type": "n8n-nodes-base.gmail",
      "position": [
        560,
        464
      ],
      "webhookId": "2b993b5c-d1be-462e-9dec-b69df27acc52",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "d15u6YZ0U9MjgoqB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a structured document interpretation assistant. Your task is to take the extracted answers from an OCR service applied to financial documents (invoices and receipts) and convert them into a structured JSON object following a strict schema.\n\nUse the extracted information from the document as your source.\n\nNormalize amounts to numbers (e.g. \"₪1,234.00\" → 1234.00), and use ISO 4217 codes for currencies (e.g., \"ILS\").\n\nNormalize country to ISO 3166-1 alpha-2 codes (e.g., \"Pakistan\" → Pk).\n\nIf a value is not confidently found, return null.\n\nFor boolean fields (e.g., \"Was this paid with Paypal?\"), return true, false, or null.\n\nUse \"personal\" or \"business\" for expense type classification.\n\nFor the category fields:\n\nIf \"type\" is \"business\", select from the business categories list and leave the personal category as null.\n\nIf \"type\" is \"personal\", select from the personal list and leave the business category as null.\n\nProvide concise, clean, machine-readable JSON."
        }
      },
      "id": "554cd60c-d61b-405b-a2ff-b76fe8df5c9e",
      "name": "Expense Caterization",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        320,
        1040
      ],
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "personal": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "business": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inform me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "shared": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "personal",
            "type": "main",
            "index": 0
          },
          {
            "node": "business",
            "type": "main",
            "index": 0
          },
          {
            "node": "shared",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Expense Caterization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Expense Caterization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Expense Caterization",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expense Caterization": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc187b5d-7de8-4a41-862d-f69d3bb32c7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ff45a24ef29b99f02c9f5629206e8dd9dcf014485731621b131805abfdf8a84"
  },
  "id": "eXMdJicDWlPqlMDM",
  "tags": []
}